.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* NAVBAR BEGIN --------------------------------------- */

.Directory {
  width: 10%;
  height: 70%;
  float: left;
  margin-top: 10%;
  margin-bottom: 10%;
}

/* NAVBAR END --------------------------------------- */

/* HOME PAGE BEGIN --------------------------------------- */

.Home {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.Home h1 {
  padding-top: 40%;
  padding-bottom: 40%;
}

.Link2Def {
  text-align: left;
  margin-left: 20%;
}

.TextBox1 {
  text-align: justify;
  padding: 0 15% 0 15%;
  margin: 0 5% 5% 5%;
}

.TextBox2 {
  margin: 5%;
  text-align: justify;
  padding: 0 30% 0 30%;
}

.Howto {
 text-align: justify;
 font-size: 80%;
 margin-bottom: 5%;
}

/* HOME PAGE END --------------------------------------- */

/* BUTTONS BEGIN --------------------------------------- */

button {
  margin-top: 10%;
  padding: 5%;
  width: 40%;
  height: 15%;
  border-radius: 50%;
}

.butts {
  background: transparent;
  border: 1px solid #F3E5F5 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  cursor: pointer;
  transition: transform .2s ease-out;
}

.butts:hover {
  background-color: black;
  color: white;
}
/* BUTTONS END --------------------------------------- */

/* AUTH BEGIN -----------------------------------------*/
.Form {
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin-top: 9%;
  border: 1px solid red;
}

.Fill {
  width: 80%;
  margin: 20%;
  padding-top: 10%;
  border: 1px solid orange;
}

.Form button {
  margin-left: 40%;
}


.Donthave {
  margin-top: 5%;
  margin-left: 5%;
  border: 1px solid green;
}
/* AUTH END -----------------------------------------*/
