.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  list-style: none;
}

img {
  width: 25%;
}

li {
  padding: 1%;
}

/* NAVBAR BEGIN --------------------------------------- */

.Directory {
  width: 10%;
  height: 70%;
  float: left;
  margin-top: 10%;
  margin-bottom: 10%;
}

.LogoutButt {
  margin: 5%;
  width: 15%;
  height: auto;
}

/* NAVBAR END --------------------------------------- */

/* HOME PAGE BEGIN --------------------------------------- */

.Home {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.Home h1 {
  padding-top: 40%;
  padding-bottom: 40%;
}

.Link2Def {
  text-align: left;
  margin-left: 20%;
}

.TextBox1 {
  text-align: justify;
  padding: 0 15% 0 15%;
  margin: 0 5% 5% 5%;
}

.TextBox2 {
  margin: 5%;
  text-align: justify;
  padding: 0 30% 0 30%;
}

.Howto {
 text-align: justify;
 font-size: 80%;
 margin-bottom: 5%;
}

/* HOME PAGE END --------------------------------------- */

/* BUTTONS BEGIN --------------------------------------- */

button {
  margin-top: 10%;
  padding: 5%;
  width: 40%;
  height: 15%;
  border-radius: 50%;
}

.Butts {
  background: grey;
  border: 1px solid grey !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  transition: transform .2s ease-out;
  margin-right: 10%;
}

.Delbutts {
  background: grey;
  border: 1px solid grey !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  transition: transform .2s ease-out;
  margin-right: 10%;
  width: 80% !important;
  padding-left: 80% !important;
  padding-right: 80% !important;
  margin-top: 15%;
  margin-bottom: 15%;
  margin-right: 75%;
}

.Delbutts:hover {
  background-color: transparent;
  color: black;
}

.Butts:hover {
  background-color: transparent;
  color: black;
}


/* BUTTONS END --------------------------------------- */

/* AUTH BEGIN -----------------------------------------*/
.Form {
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin-top: 9%;
  border: 1px solid red;
  padding-left: 5%;
}

.From2 {
  margin: 0% ;
  display: flex;
  flex-direction: column;
  justify-items: center ;
}

.Fill {
  width: 100%;
  padding: 15% 0 15% 0 ;
  margin-bottom: 10%;
  border: 1px solid orange;
  display: flex;
  flex-direction: column;
}

.Form button {
  margin-left: 31%;
  margin-top: 20%;
} 


.Donthave {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin-top: 5%;
  border: 1px solid green;
  width: 100%;
}
/* AUTH END -----------------------------------------*/

/* INV BEGIN ---------------------------------------*/

.Bigform {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  border: 1px solid red;
  padding-left: 5%;
  margin-top: 2%;
}

.Longfill {
    width: 100%;
    height: 20%;
    padding-top: 10%;
    margin-bottom: 10%;
    border: 1px solid orange;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Longfill label {
  padding-bottom: 1%;
}

.Bigform button {
  margin-left: 31%;
  margin-top: 20%;
  margin-bottom: 5%;
}

.Addform{
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  border: 1px solid red;
  margin-top: 2%;
  margin-left: 15%; 
}

.Addform button {
  margin-left: 31%;
  margin-top: 20%;
  margin-bottom: 5%;
}

.Add {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  border: 1px solid orange;  
  margin-top: 2%;  
  padding-top: 10%;
  margin-bottom: 10%;
}

.Linkto {
  width: 80%;
  height: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  border: 1px solid palevioletred;
  margin-left: 15%;
}

.Inventorydisplay ul {
  width: 100%;
}

.Inventorydisplay h2 {
  padding-left: 5%;
}

.Edittitle1 {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  border: 1px solid plum;
  margin-top: 5%;
  margin-left: 15%;
}

.Edittitle2 {
  height: 40%;
  border: 1px solid chocolate;
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  justify-content: center;
}
/* INV END ---------------------------------------*/
